<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.less.org.contactmodel">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
